# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# test
coverage/
playwright-report/
test-results/

# env
.env
.env.local
.env.*.local

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
